.form{
    background-image: url("../public/network-connection-background-abstract-style_23-2148875738.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.fieldset{
    background-color: rgba(0,0,0,0.5);
    border: 1px solid white;
}
.absl{
    top: 13%;
    right: 4%;
}
